<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.luoc.shiro.domain.mapper.ShiroMapper" >

    <select id="findByUserName" parameterType="String"  resultType="com.luoc.shiro.domain.SysUser" >
        SELECT user_id userId,user_name userName,full_name fullName, pass_word passWord, salt salt
        FROM  `sys_user` s WHERE s.user_name = #{userName}
    </select>


    <select id="selectPermissionByUserId"  resultType="String" parameterType="long">
            select distinct sp.permission from sys_permission sp
            inner join sys_role_permission srp on sp.id=srp.permission_id
            inner join sys_user_role sur on sur.role_id=srp.role_id
            where sur.user_id=#{userId}
    </select>


</mapper>

